.u-section-1 .u-sheet-1 {
  min-height: 1308px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 84px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 318px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 519px;
  min-height: 257px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 517px;
  height: 233px;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-2 {
  padding: 32px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(255,255,255,0.4);
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 29px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 360px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(255,255,255,0.4);
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-list-1 {
  width: 1076px;
  margin: 13px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 221px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(235,245,252,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(235,245,252,0.4);
  font-weight: 900;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(235,245,252,0.4);
  font-weight: 900;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -1244px;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 382px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 193px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 21px 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 519px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 268px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 628px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 443px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 27px;
}

.u-section-2 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 387px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-image-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-2 .u-image-1 {
    min-height: 244px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-image-1 {
    min-height: 549px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-image-1 {
    min-height: 346px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 442px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 387px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 44px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 69.92% 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-3 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 549px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-3 .u-image-1 {
    min-height: 346px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 443px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 17px;
}

.u-section-4 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 387px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-image-1 {
    min-height: 319px;
    background-position: 69.92% 100%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-4 .u-image-1 {
    min-height: 244px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-4 .u-image-1 {
    min-height: 549px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-image-1 {
    min-height: 346px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 228px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  background-position: 50% 53.62%;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  object-position: 50% 53.62%;
  height: 208px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-2 {
  background-position: 50% 66.5%;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  object-position: 50% 66.5%;
  height: 208px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 208px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 208px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 208px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 187px;
  }

  .u-section-5 .u-image-1 {
    inset: auto;
    height: 168px;
  }

  .u-section-5 .u-image-2 {
    inset: auto;
    height: 168px;
  }

  .u-section-5 .u-image-3 {
    inset: auto;
    height: 168px;
  }

  .u-section-5 .u-image-4 {
    inset: auto;
    height: 168px;
  }

  .u-section-5 .u-image-5 {
    inset: auto;
    height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 495px;
  }

  .u-section-5 .u-image-1 {
    height: 220px;
  }

  .u-section-5 .u-image-2 {
    height: 220px;
  }

  .u-section-5 .u-image-3 {
    height: 220px;
  }

  .u-section-5 .u-image-4 {
    height: 220px;
  }

  .u-section-5 .u-image-5 {
    height: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 846px;
  }

  .u-section-5 .u-image-1 {
    height: 250px;
  }

  .u-section-5 .u-image-2 {
    height: 250px;
  }

  .u-section-5 .u-image-3 {
    height: 250px;
  }

  .u-section-5 .u-image-4 {
    height: 250px;
  }

  .u-section-5 .u-image-5 {
    height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 15px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 320px;
  }

  .u-section-5 .u-image-2 {
    height: 320px;
  }

  .u-section-5 .u-image-3 {
    height: 320px;
  }

  .u-section-5 .u-image-4 {
    height: 320px;
  }

  .u-section-5 .u-image-5 {
    height: 320px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 442px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 387px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 44px auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-6 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 549px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-6 .u-image-1 {
    min-height: 346px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
}

.u-section-7 .u-sheet-1 {
  min-height: 825px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 708px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 44px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-7 .u-list-1 {
  margin-top: 90px;
  margin-bottom: -1767px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1723px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-layout-wrap-2 {
  margin: 433px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 576px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 576px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 420px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 486px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 364px;
  }

  .u-section-7 .u-container-layout-5 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-top: 459px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 546px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-2 {
    margin-top: 472px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 344px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 199px;
}

.u-section-8 .u-text-1 {
  text-shadow: -2px 0 2px rgba(128,128,128,1);
  text-transform: uppercase;
  margin: 60px auto;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 491px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 28px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 44px 0 0;
}

.u-section-9 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-9 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 549px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    min-height: 346px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 491px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 29px;
}

.u-section-10 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-10 .u-image-1 {
    min-height: 319px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-10 .u-image-1 {
    min-height: 244px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-10 .u-image-1 {
    min-height: 549px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-10 .u-image-1 {
    min-height: 346px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 442px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 44px 0 0;
}

.u-section-11 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-11 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-image-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    min-height: 549px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-11 .u-image-1 {
    min-height: 346px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 491px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 29px;
}

.u-section-12 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-2 {
  margin: 44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-12 .u-image-1 {
    min-height: 319px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-12 .u-image-1 {
    min-height: 244px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-12 .u-image-1 {
    min-height: 549px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-12 .u-image-1 {
    min-height: 346px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 534px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 27px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-13 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 21.22% 0%;
  background-size: 155%;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-13 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-image-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-1 {
    min-height: 549px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-13 .u-image-1 {
    min-height: 346px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 491px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 29px;
}

.u-section-14 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-2 {
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-14 .u-image-1 {
    min-height: 319px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-14 .u-image-1 {
    min-height: 244px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-14 .u-image-1 {
    min-height: 549px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-14 .u-image-1 {
    min-height: 346px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 534px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 27px;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-15 .u-image-1 {
  min-height: 387px;
  --radius: 16px;
  background-position: 50% 50%;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-15 .u-image-1 {
    min-height: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-image-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-image-1 {
    min-height: 549px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-15 .u-image-1 {
    min-height: 346px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 514px;
}

.u-section-16 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-16 .u-slider-1 {
  min-height: 401px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-16 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-16 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-16 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-16 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-16 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-16 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-16 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-text-6 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-16 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-16 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-16 .u-text-8 {
  font-size: 1.25rem;
  margin: 57px 0 0;
}

.u-section-16 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-text-9 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-16 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-text-10 {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-16 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-16 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-16 .u-custom-html-1 {
  width: 150px;
  height: auto;
  min-height: 28px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-16 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-text-8 {
    font-size: 1.125rem;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 800px;
}

.u-section-17 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-17 .u-layout-cell-1 {
  min-height: 160px;
}

.u-section-17 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-17 .u-text-1 {
  font-size: 3rem;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  letter-spacing: 10px;
  font-weight: 900;
  margin: 0;
}

.u-section-17 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-17 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-17 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-17 .u-accordion-1 {
  margin: 0 auto 0 0;
}

.u-section-17 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-17 .u-accordion-link-1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-17 .u-icon-1 {
  height: 41px;
  width: 41px;
}

.u-section-17 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-17 .u-container-layout-3 {
  padding: 30px;
}

.u-section-17 .u-text-3 {
  font-weight: 400;
  margin: 0;
}

.u-section-17 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-17 .u-accordion-link-2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-17 .u-icon-2 {
  height: 41px;
  width: 41px;
}

.u-section-17 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-17 .u-container-layout-4 {
  padding: 30px;
}

.u-section-17 .u-text-4 {
  margin: 0;
}

.u-section-17 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-17 .u-accordion-link-3 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-17 .u-icon-3 {
  height: 41px;
  width: 41px;
}

.u-section-17 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-17 .u-container-layout-5 {
  padding: 30px;
}

.u-section-17 .u-text-5 {
  margin: 0;
}

.u-section-17 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-17 .u-accordion-link-4 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-17 .u-icon-4 {
  height: 41px;
  width: 41px;
}

.u-section-17 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-17 .u-container-layout-6 {
  padding: 30px;
}

.u-section-17 .u-text-6 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-17 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-icon-1 {
    padding: 10px;
  }

  .u-section-17 .u-icon-2 {
    padding: 10px;
  }

  .u-section-17 .u-icon-3 {
    padding: 10px;
  }

  .u-section-17 .u-icon-4 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-17 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-17 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-17 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 273px;
}

.u-section-18 .u-layout-wrap-1 {
  background-image: none;
  --radius: 16px;
  margin: 60px auto 60px 20px;
}

.u-section-18 .u-layout-cell-1 {
  min-height: 146px;
  background-image: none;
  --radius: 16px;
}

.u-section-18 .u-container-layout-1 {
  padding: 30px;
}

.u-section-18 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-18 .u-layout-cell-2 {
  min-height: 146px;
  background-image: none;
  --radius: 16px;
}

.u-section-18 .u-container-layout-2 {
  padding: 30px;
}

.u-section-18 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
  padding: 12px 30px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-18 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-18 .u-text-1 {
    width: auto;
    margin-right: 58px;
  }

  .u-section-18 .u-layout-cell-2 {
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-18 .u-text-1 {
    margin-right: 0;
  }

  .u-section-18 .u-layout-cell-2 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-18 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-18 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.glass-blue{
   width: 300px;
            padding: 20px;
            border-radius: 15px;
            background: rgba(5, 41, 66, 0.2); 
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: white;
            text-align: center;
}
.glass-orange {
	  width: 300px;
            padding: 20px;
            border-radius: 15px;
            background: rgba(250, 171, 47, 0.2); 
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: white;
            text-align: center;
}